@model _GMTEGRATOR.Models.UrunDetayDAL
@using _GMTEGRATOR.Models;
@{
    ViewBag.Title = "";
}



<script src="~/Content/js/UrunDetay.js"></script>
<link href="~/Content/css/UrunDetay.css" rel="stylesheet" />

@using (Html.BeginForm("UrunKayitMethod", "Urun", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    <div class="container">
        <h2>Ürün Bilgileri</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">  Stok Kodu:</div> @Html.TextBoxFor(x => x.GM_TBLSTSABIT.STOK_KODU, new { @class = "form-control" })
                </div>

                <div class="row">
                    <div class="col-md-3">
                        Stok Adı:
                    </div> @Html.TextBoxFor(x => x.GM_TBLSTSABIT.STOK_ADI, new { @class = "form-control" })
                </div>

                <div class="row">
                    <div class="col-md-3">
                        Stok Açıklaması:
                    </div>@Html.TextAreaFor(x => x.GM_TBLSTSABIT.STOK_ACIKLAMASI, new { @class = "form-control" })
                </div>




                <div class="row">
                    <div class="col-md-4">
                        Fiyat:
                        @Html.TextBoxFor(x => x.GM_TBLSTSABIT.STOK_FIYAT, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        İndirimli Fiyat:
                        @Html.TextBoxFor(x => x.GM_TBLSTSABIT.STOK_FIYAT, new { @class = "form-control" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        Stok Adedi:
                    </div> @Html.TextBoxFor(x => x.GM_TBLSTSABIT.STOK_ADEDI, new { @class = "form-control" })
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Satıcı Stok Kodu:
                    </div> @Html.TextBoxFor(x => x.GM_TBLSTSABIT.SELLER_STOK_KODU, new { @class = "form-control" })
                </div>


                <div class="row">
                    <div class="col-md-4">
                        N11 Katalog ID:
                        @Html.TextBoxFor(x => x.GM_TBLSTSABIT.N11_KATALOG_ID, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        Hepsiburada SKU :
                        @Html.TextBoxFor(x => x.GM_TBLSTSABIT.Hepsiburada_SKU, new { @class = "form-control" })
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="row">
                    <input type="file" class="gorsel" id="gorsel" name="gorsel" />
                    <input type="file" class="gorsel2" id="gorsel2" name="gorsel2" />
                </div>
                <div class="row">
                    <input type="file" class="gorsel3" id="gorsel3" name="gorsel3" />
                    <input type="file" class="gorsel4" id="gorsel4" name="gorsel4" />
                </div>
            </div>

        </div><br />
        <input type="submit" class="btn btn-outline-success" value="ÜRÜN EKLE" />
    </div>

}