@model  _GMTEGRATOR.Models.SettingsModel

@{
    Layout = "~/Views/Shared/_Sistem.cshtml";
}

<h2 style="font-family:serif">Ürün Kaynak Ayarları:</h2>


@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
    alert('@Html.Raw(@TempData["alertMessage"])');
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">

            <table class="table table-hover">


                @foreach (var item in Model.GM_USER_SYSTEM_SETTINGS)
                {
                    <tr>
                        <td>View/Tablo İsmi:</td>
                        <td>
                            @Html.DropDownListFor(x => x.USER_SYSTEM_SETTING.TABLO_VIEW_ISMI, new SelectList(ViewBag.TABLO_VIEW_ISMI1, "TABLO_VIEW_ISMI"))
                        </td>
                    </tr>
                    <tr>
                        <td>Kullanıcı Adı:</td>
                        <td>
                            @Html.TextBoxFor(m => m.USER_SYSTEM_SETTING.USER_NAME, new { @placeholder = item.USER_NAME })
                        </td>
                    </tr>
                    <tr>
                        <td>Şifre:</td>
                        <td>
                            @Html.TextBoxFor(m => m.USER_SYSTEM_SETTING.USER_PASSWORD, new { @placeholder = item.USER_PASSWORD })
                        </td>
                    </tr>
                    <tr>
                        <td>DB İsmi:</td>
                        <td>
                            @Html.TextBoxFor(m => m.USER_SYSTEM_SETTING.DBNAME, new { @placeholder = item.DBNAME })
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

